{% extends 'photoslider.twig' %}

{% block bodyclass %}
  index
{% endblock %}

{% block headerclass %}
  alt
{% endblock %}



{% block banner %}
  <section id="photoslider">
    {% block photoslider %}
      {{parent()}}
    {% endblock photoslider %}

  </section>
{% endblock banner %}

