{% extends 'master.twig' %}

{% block bodyclass %}
    no-sidebar
{% endblock bodyclass %}

{% block main %}
    <article id="main">

        <section class="wrapper style1 container">
            {% if record.image is not empty %}
                <div class="image" style="text-align:center;">
                    <img src="{{ image(record.image) }}" width="500"  />
                </div>
            {% endif %}
            <div class="content">
                <section>
                    {{ record.message }}
                </section>
            </div>
        </section>

    </article>
{% endblock main %}
